<!doctype html>
<html lang="en">
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title><%= title %></title>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%- include nav.ejs %>
<div class="container ">
    <% if(!posts.length){ %>
        <div class="alert alert-danger">你搜索的关键词<%= title %>没有找到相关内容</div>
    <% }else{%>
        <div class="alert alert-success">你搜索的关键词<%= title %>,一共有<%= posts.length %>条</div>
        <% posts.forEach(function(post,index) { %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title clearfix">
                    <div class="pull-left"> <a href="/article/<%= post._id %>"><%= post.title %></a></div>
                    <div class="pull-right">
                        作者：<%= post.name %>&emsp;&emsp;
                        日期：<%= post.time.day %>
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                <%- post.post %>
            </div>
        </div>
    <% }) %>
    <% } %>
    <%- include footer.ejs %>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>